{% if page.video_shorts %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ page.title | escape }}",
  "description": "{{ page.description | escape }}",
  "thumbnailUrl": "{{ page.thumbnail | absolute_url }}",
  "uploadDate": {{ page.uploadDate | jsonify }},
  "contentUrl": "{{ page.video_shorts }}",
  "embedUrl": "{{ page.video_shorts }}",
  "publisher": {
    "@type": "Organization",
    "name": "WakeUpNews",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/assets/images/wakeupnews-logo.png' | absolute_url }}"
    }
  }
}
</script>
{% endif %}
